<html>
    <head>

    </head>
    <body>
        <div style = "text-align: center">
            <form action="/users/open">
                <label> PHONE NO</label>
                <input type="text" placeholder="ENTER YOUR PHONE NO" name = "Number" required> <br> <br>
                <label > PASSWORD </label>
                <input type="text" placeholder="ENTER YOUR PASSWORD" name = "Password" required> <br> <br>
                <button type="submit"> login </button>
                            </form>
        </div>
    </body>
</html>