<html>
    <head></head>
    <body>
        <h1> <%= data[0].username  %>  </h1>
        <h1> <%= data[0].mail  %>  </h1>
        <h1> <%= data[0].country  %>  </h1>
        <form action="/users/profilepic" enctype="multipart/form-data" method="POST">
                <input type="hidden" name="number" value= "<%= data[0].number  %>"  >
                <!-- <img src="/getImages?imageName=<%= data[0].image %> "> -->
            <input type="file" name="profilepic" > <br><br>
                <button type="submit" on save</button>
                
                
        </form>

    </body>
</html>