<html>
    <head>
        <title> register form </title>
        <meta name="viewport" content="width-device-widht, initial-scale-1">
    </head>
    
    <br> <br>
    <body>
        <div style="text-align:center">
            <form action="/users/save" method="GET">
          <label> USERNAME </label>
          <INPUT type="text" placeholder="ENTER YOUR NAME" name="username" required> <br><br>
            <label> PHONE NO </label>
          <input type="text" placeholder="ENTER PHONE NO" name="number" required> <br><br>
          <label> PASSWORD </label>
          <INPUT type="text" placeholder="ENTER YOUR PASSWORD" name="Password" required> <br> <br>
          <label> MAIL </label>

          <INPUT type="text" placeholder="ENTER YOUR MAIL" name="mail" required> <br> <br>
          <label> COUNTRY </label>

          <INPUT type="text" placeholder="ENTER YOUR COUNTRY" name="country" required> <br> <br>

            <button type="submit" > signup </button>
            <button type="button" onclick="location.href = 'http://localhost:3000/users/login'" > login </button> 
            

            <!-- <button onclick="location.href=" -->

            </form>
        </div>
    </body>


</html>